Repository Ultra-Cube/Gate-OS, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ultra-Cube/devops, @Ultra-Cube/core-maintainers, @Ultra-Cube/docs-team, @Ultra-Cube/engineering

docs: add release checklist, SBOM/vuln, plugin & manifest guides; chore: dev-check script
  README.md
  docs/environments/manifest-authoring.md
  docs/extensions/plugin-development.md
  docs/operations/sbom-vulnerability.md
  docs/release/release-checklist.md
  scripts/dev-check.sh
Owners: @Ultra-Cube/core-maintainers, @Ultra-Cube/docs-team

ci: add dev-check & release-preflight workflows; docs: coverage badge; examples: packaged plugin template
  .github/workflows/dev-check.yml
  .github/workflows/release-preflight.yml
  README.md
  examples/plugins/packaged_example/README.md
  examples/plugins/packaged_example/pyproject.toml
  examples/plugins/packaged_example/src/gateos_plugin_example/__init__.py
  examples/plugins/packaged_example/src/gateos_plugin_example/hooks.py
  pyproject.toml
Owners: @Ultra-Cube/devops, @Ultra-Cube/core-maintainers, @Ultra-Cube/engineering

feat(manifest): add packaged v1.0 schema and include in build
  gateos_manager/manifest/schemas/environment-manifest-v1.0.yaml
  pyproject.toml
Owners: @Ultra-Cube/engineering, @Ultra-Cube/core-maintainers

test(manifest): add schemaVersion negotiation tests; fix unsupported version handling
  gateos_manager/manifest/loader.py
  tests/test_manifest_schema_version.py
Owners: @Ultra-Cube/engineering, @Ultra-Cube/core-maintainers

feat(plugins): entry point discovery returning plugin list; add discovery tests
  gateos_manager/plugins/registry.py
  tests/test_plugin_entrypoint_discovery.py
Owners: @Ultra-Cube/engineering, @Ultra-Cube/core-maintainers

test(security): add capability allowlist policy tests
  tests/test_security_policy.py
Owners: @Ultra-Cube/core-maintainers

feat(switch): add perform_switch helper for direct manifest execution; normalize container names
  gateos_manager/switch/orchestrator.py
Owners: @Ultra-Cube/engineering

fix(containers): correct runtime detection indentation and isolation warning logic
  gateos_manager/containers/manager.py
  gateos_manager/security/isolation.py
Owners: @Ultra-Cube/engineering

docs: add manifest versioning & plugin discovery sections; update changelog; raise coverage threshold to 65%
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
Owners: @Ultra-Cube/devops, @Ultra-Cube/core-maintainers

feat(api): update version to 0.0.2 and ensure plugin discovery before loading environments
  gateos_manager/api/server.py
Owners: @Ultra-Cube/engineering

chore(release): prepare 0.0.3 (version bump, changelog)
  CHANGELOG.md
  gateos_manager/api/server.py
  pyproject.toml
Owners: @Ultra-Cube/core-maintainers, @Ultra-Cube/engineering

docs(readme): make links clickable and add copyright section
  README.md
Owners: @Ultra-Cube/core-maintainers

feat: dynamic auth token + log level; fix design manifest; stabilize security tests
  examples/environments/design.yaml
  gateos_manager/api/auth.py
  gateos_manager/logging/structured.py
  tests/conftest.py
  tests/test_manifest_loader.py
Owners: @Ultra-Cube/engineering, @Ultra-Cube/core-maintainers

feat(api): lifespan handler; tests(auth): add negative token file tests; ci: raise coverage to 70 and refresh badge
  .github/workflows/ci.yml
  gateos_manager/api/server.py
  tests/test_auth.py
Owners: @Ultra-Cube/devops, @Ultra-Cube/engineering, @Ultra-Cube/core-maintainers

tests: add schemaVersion negotiation, rate limit window reset, telemetry batching; docs: clarify auth precedence
  README.md
  tests/test_rate_limit.py
  tests/test_schema_version_packaged.py
  tests/test_telemetry_batch.py
Owners: @Ultra-Cube/core-maintainers

tests: add telemetry batch size threshold, multi-client rate limit, multi-invalid security caps; fix server client id header handling
  gateos_manager/api/server.py
  tests/test_rate_limit.py
  tests/test_security_policy.py
  tests/test_telemetry_batch.py
Owners: @Ultra-Cube/engineering, @Ultra-Cube/core-maintainers

tests: add schema version validation for packaged manifests
  tests/test_manifest_schema_version_packaged.py
Owners: @Ultra-Cube/core-maintainers

build: bump version to 0.0.4; add PyPI publish workflow; stabilize telemetry batch size test
  .github/workflows/publish.yml
  pyproject.toml
  tests/test_telemetry_batch.py
Owners: @Ultra-Cube/devops, @Ultra-Cube/core-maintainers

docs(changelog): add 0.0.4 release notes
  CHANGELOG.md
  dist/gateos_manager-0.0.3-py3-none-any.whl
Owners: @Ultra-Cube/core-maintainers

docs: add installation/publish section; chore: fix lint issues
  README.md
  examples/plugins/packaged_example/src/gateos_plugin_example/__init__.py
  gateos_manager/logging/structured.py
  gateos_manager/switch/orchestrator.py
  gateos_manager/telemetry/emitter.py
Owners: @Ultra-Cube/core-maintainers, @Ultra-Cube/engineering

docs(roadmap): add 0.0.5 release plan
  docs/roadmap/0.0.5-plan.md
Owners: @Ultra-Cube/docs-team

style: apply consistent formatting and type hints across multiple files
  examples/plugins/packaged_example/src/gateos_plugin_example/hooks.py
  examples/plugins/sample_plugin.py
  gateos_manager/api/__init__.py
  gateos_manager/api/auth.py
  gateos_manager/api/rate_limit.py
  gateos_manager/api/server.py
  gateos_manager/cli.py
  gateos_manager/containers/manager.py
  gateos_manager/manifest/loader.py
  gateos_manager/plugins/registry.py
  gateos_manager/security/__init__.py
  gateos_manager/security/policy.py
  gateos_manager/watch/reloader.py
  tests/conftest.py
  tests/test_api_server.py
  tests/test_auth.py
  tests/test_containers_and_watch.py
  tests/test_manifest_loader.py
  tests/test_manifest_schema_version.py
  tests/test_manifest_schema_version_packaged.py
  tests/test_plugin_entrypoint_discovery.py
  tests/test_plugins_and_logging.py
  tests/test_rate_limit.py
  tests/test_schema_version_packaged.py
  tests/test_security_policy.py
  tests/test_switch_failure_shutdown_hook.py
  tests/test_switch_success_containers.py
  tests/test_telemetry_batch.py
Owners: @Ultra-Cube/engineering, @Ultra-Cube/core-maintainers

feat(api): add /shutdown endpoint with telemetry flush
  gateos_manager/api/server.py
Owners: @Ultra-Cube/engineering

feat(assets): redesign logo — clean bold gate on dark circle, gradient ring
  assets/logo.svg
Owners: @Ultra-Cube/core-maintainers

feat(observability): Prometheus metrics, /metrics endpoint, perf CI gate; 166 tests
  CHANGELOG.md
  TODO.md
  gateos_manager/__init__.py
  gateos_manager/api/server.py
  gateos_manager/telemetry/prometheus.py
  pyproject.toml
  tests/test_observability.py
Owners: @Ultra-Cube/core-maintainers, @Ultra-Cube/engineering

docs(readme): add Table of Contents for easy navigation
  README.md
Owners: @Ultra-Cube/core-maintainers

feat(ui): GTK4 Adwaita shell — env list, switch panel, status bar, tray; 100 tests
  CHANGELOG.md
  TODO.md
  data/gate-os-manager.desktop
  gateos_manager/__init__.py
  gateos_manager/ui/__init__.py
  gateos_manager/ui/api_client.py
  gateos_manager/ui/app.py
  gateos_manager/ui/env_list.py
  gateos_manager/ui/status_bar.py
  gateos_manager/ui/switch_button.py
  gateos_manager/ui/tray.py
  pyproject.toml
  tests/test_perf_switch_latency.py
  tests/test_ui_components.py
Owners: @Ultra-Cube/core-maintainers, @Ultra-Cube/engineering

docs(readme): redesign TOC as organized tables with icons and categories
  README.md
Owners: @Ultra-Cube/core-maintainers

docs(readme): add full OS installation section (ISO/deb/overlay/dev)
  README.md
Owners: @Ultra-Cube/core-maintainers

feat(switch): ServiceManager, ProfileApplicator, SwitchContext + rollback; 64 tests passing
  CHANGELOG.md
  TODO.md
  gateos_manager/profile/__init__.py
  gateos_manager/services/__init__.py
  gateos_manager/switch/orchestrator.py
  pyproject.toml
  tests/test_profile_applicator.py
  tests/test_service_manager.py
  tests/test_switch_orchestrator_enhanced.py
Owners: @Ultra-Cube/core-maintainers, @Ultra-Cube/engineering

feat(iso): Ubuntu 24.04 LTS ISO builder, systemd service, packaging utils; 114 tests
  .github/workflows/build-iso.yml
  CHANGELOG.md
  TODO.md
  data/systemd/gateos-api.service
  docs/installation/guide.md
  gateos_manager/__init__.py
  gateos_manager/packaging/__init__.py
  scripts/build-iso.sh
  tests/test_packaging.py
Owners: @Ultra-Cube/devops, @Ultra-Cube/core-maintainers, @Ultra-Cube/docs-team, @Ultra-Cube/engineering

docs(readme): full update for v1.0.0-beta — all 8 phases reflected
  README.md
Owners: @Ultra-Cube/core-maintainers

feat(assets): update logo colors to orange palette
  assets/logo.svg
Owners: @Ultra-Cube/core-maintainers

docs(plan): add Ubuntu 24.04 LTS ISO roadmap, installable OS phases, team adoption plan
  .gitignore
  CHANGELOG.md
  CONTRIBUTING.md
  Makefile
  TODO.md
  docs/plan/project-plan.md
  scripts/setup-dev-env.sh
Owners: @Ultra-Cube/core-maintainers, @Ultra-Cube/docs-team

feat(security): AppArmor profiles for all envs, seccomp configs, manifest signing; 147 tests
  CHANGELOG.md
  TODO.md
  gateos_manager/__init__.py
  gateos_manager/cli.py
  gateos_manager/security/signing.py
  profiles/apparmor/gateos-env-design
  profiles/apparmor/gateos-env-dev
  profiles/apparmor/gateos-env-gaming
  profiles/apparmor/gateos-env-media
  profiles/apparmor/gateos-env-security
  profiles/seccomp/gateos-default.json
  profiles/seccomp/gateos-security.json
  pyproject.toml
  tests/test_security_hardening.py
Owners: @Ultra-Cube/core-maintainers, @Ultra-Cube/engineering

feat(mobile): WebSocket /ws/status endpoint, switch broadcast, mobile docs; 178 tests
  CHANGELOG.md
  TODO.md
  docs/mobile/companion-api.md
  gateos_manager/__init__.py
  gateos_manager/api/server.py
  gateos_manager/api/websocket.py
  gateos_manager/telemetry/emitter.py
  pyproject.toml
  tests/test_mobile_companion.py
Owners: @Ultra-Cube/core-maintainers, @Ultra-Cube/docs-team, @Ultra-Cube/engineering

feat(manager): enhance container management with timeout and mount support
  gateos_manager/containers/manager.py
  scripts/dev-check.sh
Owners: @Ultra-Cube/engineering, @Ultra-Cube/core-maintainers

feat(beta): OTA update stub, beta release notes, 198 tests — v1.0.0-beta
  CHANGELOG.md
  TODO.md
  docs/release/v1.0.0-beta.md
  gateos_manager/__init__.py
  gateos_manager/cli.py
  gateos_manager/updater.py
  pyproject.toml
  tests/test_beta_release.py
Owners: @Ultra-Cube/core-maintainers, @Ultra-Cube/docs-team, @Ultra-Cube/engineering

feat(assets): add Gate-OS SVG logo with gate arch + 5-env indicator dots
  README.md
  assets/logo.svg
Owners: @Ultra-Cube/core-maintainers

feat(assets): fix logo.svg — clean new design, remove duplicate old SVG content
  assets/logo.svg
Owners: @Ultra-Cube/core-maintainers

.github/CODEOWNERS:

<!-- markdownlint-disable -->
# CODEOWNERS file (not Markdown content)
.github/workflows/      @Ultra-Cube/devops
## CODEOWNERS (plain text)
# Pattern order matters; last match wins
# Adjust team handles to match structure

*                       @Ultra-Cube/core-maintainers
docs/                   @Ultra-Cube/docs-team
examples/               @Ultra-Cube/engineering
gateos_manager/         @Ultra-Cube/engineering
.github/workflows/      @Ultra-Cube/devops
