Repository Ultra-Cube/Gate-OS, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ultra-Cube/devops, @Ultra-Cube/core-maintainers, @Ultra-Cube/docs-team, @Ultra-Cube/engineering

feat(v1.1.0): coverage 87%, schedule_apply(), OTLP exporter, AppArmor loader, MkDocs
  CHANGELOG.md
  TODO.md
  docs/index.md
  docs/observability/otlp.md
  gateos_manager/telemetry/otlp.py
  gateos_manager/updater.py
  mkdocs.yml
  scripts/load-apparmor-profiles.sh
  tests/test_beta_release.py
  tests/test_ui_components.py
  tests/test_watch_reloader.py
Owners: @Ultra-Cube/core-maintainers, @Ultra-Cube/docs-team, @Ultra-Cube/engineering

docs(v1.2.0): add phases 10-15 to TODO, Mermaid diagrams, update milestones + architecture
  TODO.md
  docs/architecture/overview.md
  docs/diagrams/README.md
  docs/diagrams/api-flow.md
  docs/diagrams/env-switch-sequence.md
  docs/diagrams/module-boundaries.md
  docs/diagrams/system-architecture.md
  docs/plan/project-plan.md
  docs/roadmap/milestones.md
Owners: @Ultra-Cube/core-maintainers, @Ultra-Cube/docs-team

feat(v1.2.0): coverage sprint 87pct to 95pct, 228 to 308 tests, OTel span decorator
  gateos_manager/switch/orchestrator.py
  gateos_manager/telemetry/otlp.py
  tests/test_cli_extended.py
  tests/test_container_manager_runtime.py
  tests/test_service_manager_runtime.py
  tests/test_updater_extended.py
Owners: @Ultra-Cube/engineering, @Ultra-Cube/core-maintainers

docs(v1.2.0): Phase 11 complete — 13 new pages, 6 stubs rewritten, mkdocs deployed
  TODO.md
  docs/architecture/environments.md
  docs/architecture/supply-chain.md
  docs/architecture/switch-engine.md
  docs/business/market-analysis.md
  docs/business/vision-mission.md
  docs/changelog.md
  docs/contributing.md
  docs/getting-started/configuration.md
  docs/getting-started/quickstart.md
  docs/index.md
  docs/observability/metrics.md
  docs/observability/otlp.md
  docs/ota/how-it-works.md
  docs/ota/schedule-apply.md
  docs/plan/requirements.md
  docs/plugins/plugin-guide.md
  docs/product/features.md
  docs/release-checklist.md
  docs/security/apparmor.md
  docs/security/overview.md
  docs/security/signing.md
  docs/security/threat-model.md
  mkdocs.yml
Owners: @Ultra-Cube/core-maintainers, @Ultra-Cube/docs-team

chore: normalize line endings in test_watch_reloader, chmod +x dev-check.sh
  scripts/dev-check.sh
  tests/test_watch_reloader.py
Owners: @Ultra-Cube/core-maintainers

feat(v1.3.0): Phase 12 complete — real hw profiles, schema v0.2.0, DDE integration
  TODO.md
  gateos_manager/manifest/loader.py
  gateos_manager/manifest/schemas/environment-manifest-v0.2.0.yaml
  gateos_manager/profile/__init__.py
  gateos_manager/ui/dde_panel.py
  gateos_manager/ui/shell_adapter.py
  scripts/install-dde.sh
  tests/test_dde_panel.py
  tests/test_profile_applicator.py
  tests/test_schema_v02.py
  tests/test_shell_adapter.py
Owners: @Ultra-Cube/core-maintainers, @Ultra-Cube/engineering

.github/CODEOWNERS:

<!-- markdownlint-disable -->
# CODEOWNERS file (not Markdown content)
.github/workflows/      @Ultra-Cube/devops
## CODEOWNERS (plain text)
# Pattern order matters; last match wins
# Adjust team handles to match structure

*                       @Ultra-Cube/core-maintainers
docs/                   @Ultra-Cube/docs-team
examples/               @Ultra-Cube/engineering
gateos_manager/         @Ultra-Cube/engineering
.github/workflows/      @Ultra-Cube/devops
